[구글 코랩(Colab)에서 실행하기](https://colab.research.google.com/github/lovedlim/bigdata_analyst_cert_v2/blob/main/part1/ch3/ch3_ex_type1.ipynb)

- [안내] FutureWarning은 무시해도 됨

In [1]:
# 흔히 발생하는 FutureWarning
# df['views'].fillna(min, inplace=True)  # 변경 전 (경고 발생 가능)
# df['views'] = df['views'].fillna(min)  # 변경 후 (권장 방식)

### Section1.

In [10]:
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")
df = df[df['f5'] !=0 ]
df
value = df['views'].min()
df['views'].fillna(value, inplace=True)
df['views'].median()

<ipython-input-10-126614329>:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['views'].fillna(value, inplace=True)

5924.0

In [20]:
# FutureWarning 해결 버전
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")

value = df['subscribed'].value_counts() #mode() ok

value.index[0][-2:]

'17'

### Section2.

In [26]:
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")
df.dropna(inplace=True)
df['new_col'] = df['views'] / df['f1']
i = df['new_col'].idxmax()
df.loc[i,'age']

np.float64(22.0)

### Section3.

In [ ]:
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")

22

### Section4.

In [50]:
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")
df['views'] = df['views'].fillna(0)
df = df.sort_values('views',ascending=False)

value = df.iloc[9, -1]
df.iloc[:10,-1] = value
print(int(df['views'].sum()))

652812

In [61]:
# FutureWarning 해결 버전
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")

finding = df[df['f4'].str[2:4]=='FJ']
round(finding['f2'].mean(),2)

np.float64(0.61)

In [65]:
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")

df = df[(df['f3']=='gold')&(df['f2']==2)]
round(df['f1'].var(),2)

235.43

In [69]:
# FutureWarning 해결 버전
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")
df['age'] = df['age'] +1
df20 = df[(df['age']>=20)&(df['age']<30)]
df30 = df[(df['age']>=30)&(df['age']<40)]
round(abs(df20['views'].mean() - df30['views'].mean()),2)

np.float64(263.13)

### Section5.

In [71]:
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")
df = df[df['subscribed'].str[0:7]=="2024-02"]
df = df[df['f3']=='gold']
len(df)

5

In [82]:
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")

df = df[df['views']<=1000]
df['f4'].mode()[0]

'ISFJ'

### Section6.

In [95]:
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")

df = df.dropna()
df = df.groupby(['city']).mean(numeric_only=True)
df = df.sort_values('f2', ascending=False)
df.iloc[0]

age        38.000000
f1         60.142857
f2          0.785714
f5         41.122705
views    7369.142857
Name: 서울, dtype: float64

### Section7.

In [99]:
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")
df = df.dropna()
df = df[:int(len(df)*0.7)]
int(df['views'].quantile(0.75) - df['views'].quantile(0.25))

2771

### Section8.

In [101]:
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")

#df.isnull().sum() #결측치가 많은 두 컬럼 = f1, f3
df = df.dropna(subset = 'f1')
value = df['f3'].mode()[0]
df['f3'] = df['f3'].fillna(value)
int(len(df[df['f3']=='gold']))

63

### Section9.

In [105]:
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")
df = df[df['f1'].isnull()]
round(df['age'].mean(),1)

np.float64(53.6)

In [109]:
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")
df

        id   age city    f1  f2      f3    f4         f5  subscribed   views
0     id01   2.0   서울   NaN   0    gold  ENFJ  91.297791  2024-07-16  6820.0
1     id02   9.0   서울  70.0   1     NaN  ENFJ  60.339826  2024-05-12  2534.0
2     id03  27.0   서울  61.0   1    gold  ISTJ  17.252986  2024-03-16  7312.0
3     id04  75.0   서울   NaN   2     NaN  INFP  52.667078  2024-07-21   493.0
4     id05  24.0   서울  85.0   2     NaN  ISFJ  29.269869  2024-03-07  1338.0
..     ...   ...  ...   ...  ..     ...   ...        ...         ...     ...
115  id114  22.0   대구  23.0   0    gold  INTP   0.000000  2025-02-17  9747.0
116  id115  23.0   부산  65.0   0     vip  ENTP   0.000000  2025-02-17  5628.0
117  id116  23.0   서울  12.0   1  silver  INFP   0.000000  2025-02-17  1267.0
118  id117  23.0   대구  65.0   2    gold  INFP   0.000000  2025-02-17  6543.0
119  id118  24.0   부산  94.0   1     vip  ESFJ   0.000000  2025-02-17  2356.0

[120 rows x 10 columns]

### Section10.

In [108]:
import pandas as pd
import numpy as np
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")
df.drop_duplicates(inplace=True)
df['f3'] = df['f3'].replace(np.nan, 0).replace('silver',1).replace('gold',2).replace('vip',3)
int(df['f3'].sum())

<ipython-input-108-2239714883>:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['f3'] = df['f3'].replace(np.nan, 0).replace('silver',1).replace('gold',2).replace('vip',3)

167

In [ ]:
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")

서울

### Section11.

In [ ]:
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")

2771

### Section12.

In [ ]:
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")

63

<ipython-input-92-9255fa2d5c93>:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['f3'].fillna(freq, inplace=True)

In [ ]:
# FutureWarning 해결 버전
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")

63

In [ ]:
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")

63

### Section13.

In [ ]:
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")

53.6

### Section14.

In [ ]:
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")

167

<ipython-input-96-b23fe472b5d5>:10: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['f3'] = df['f3'].replace(np.nan,0).replace('silver',1).replace('gold',2).replace('vip',3)

In [ ]:
# 방법2
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")

167

### Section15.

In [114]:
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")

cols = df.select_dtypes(exclude='object').columns
df = df[cols]
df = df.fillna(0)
df['new'] = df['age'] + df['f1'] + df['f2'] + df['f5'] + df['views']
int(len(df[df['new']>3000])) #df = df.T / sum(df.sum()>3000)

88

### Section16.

In [118]:
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")

views1 = df['views'].quantile(0.25)
views3 = df['views'].quantile(0.75)
IQR = views3 - views1

line1 = views1 - 1.5*IQR
line2 = views3 + 1.5*IQR
df = df[(df['views']<line1) | (df['views']>line2)]
int(df['views'].sum())

77699

### Section17.

In [124]:
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")

views_std = df['views'].std()
df = df[(df['age']==round(df['age'],0))&(df['age']>0)]
views_std2 = df['views'].std()
round(views_std + views_std2,2)

8297.31

### Section18.

In [131]:
import pandas as pd
# df = pd.read_csv("type1_data2.csv", index_col="year")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data2.csv", index_col="year")
mean2001 = df.loc[2001].mean()
result1 = sum(df.loc[2001] > mean2001)

mean2003 = df.loc[2003].mean()
result2 = sum(df.loc[2003]< mean2003)
print(result1 + result2)

202

In [137]:
import pandas as pd
# df = pd.read_csv("type1_data2.csv", index_col="year")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data2.csv", index_col="year")

,0,1,2,3,4,5,6,7,8,9,...,190,191,192,193,194,195,196,197,198,199
year,,,,,,,,,,,,,,,,,,,,,
2000,137,74,114,140,80,150,16,133,178,181,...,124,94,118,12,50,191,137,174,56,128
2001,176,87,64,110,128,16,8,4,123,87,...,59,22,3,108,17,104,101,161,156,43
2002,128,132,123,112,134,160,180,47,115,155,...,160,111,116,75,48,51,81,101,194,73
2003,78,45,26,50,177,119,47,72,163,125,...,163,88,52,79,192,83,5,75,196,119
2004,1,162,124,12,1,126,58,123,186,161,...,100,93,86,12,115,72,29,30,88,150

### Section19.

In [145]:
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")
df = df.bfill()
df = df.groupby(['city', 'f2']).sum(numeric_only=True)
df.sort_values('views', ascending=False).iloc[2]

age        997.000000
f1        1016.000000
f5         935.958628
views    91442.000000
Name: (경기, 1), dtype: float64

### Section20.

In [156]:
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")
df['subscribed'] = pd.to_datetime(df['subscribed'])
df['month'] = df['subscribed'].dt.month
df = df.groupby('month').sum(numeric_only=True)
df = df.sort_values('views')
df.index[0]

np.int32(11)

### Section21.

In [162]:
import pandas as pd
# df = pd.read_csv("delivery_time.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/delivery_time.csv")
df
df['실제도착시간'] = pd.to_datetime(df['실제도착시간'])
df['예상도착시간'] = pd.to_datetime(df['예상도착시간'])
df = df[(df['실제도착시간']-df['예상도착시간']).dt.total_seconds()/60 > 0]
print(len(df))
len(df[df['거리']>=7])

510

311

### Section22.

In [171]:
import pandas as pd
# df = pd.read_csv("delivery_time.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/delivery_time.csv")

df['주문시간'] = pd.to_datetime(df['주문시간'])
df['실제도착시간'] = pd.to_datetime(df['실제도착시간'])
df['result1'] = (df['실제도착시간'] - df['주문시간']).dt.total_seconds()/60
df = df.groupby('앱종류')['result1'].mean()
print(round(df.min()))

62

### Section23.

In [179]:
import pandas as pd
# df = pd.read_csv("delivery_time.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/delivery_time.csv")
df['실제도착시간'] = pd.to_datetime(df['실제도착시간'])
df['예상도착시간'] = pd.to_datetime(df['예상도착시간'])
df['지연시간'] = (df['예상도착시간'] - df['실제도착시간']).dt.total_seconds()/60
df['지각'] = df['지연시간']<0
df = df.groupby(['결제종류'])['지각'].mean()
df = df.sort_values(ascending=False)
round(df.iloc[0],2)

np.float64(0.56)

### Section24.

In [194]:
import pandas as pd
# df = pd.read_csv("delivery_time.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/delivery_time.csv")
filter = df.groupby(['user'])['거리'].sum(numeric_only=True)
filter = filter[filter>=50]

df = df[df['user'].isin(filter.index)]
#df['결제종류'].value_counts()
df['결제종류'].mode()[0]

'카드'

### Section25.

In [202]:
import pandas as pd
# df = pd.read_csv("delivery_time.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/delivery_time.csv")
df['실제도착시간'] = pd.to_datetime(df['실제도착시간'])
df['예상도착시간'] = pd.to_datetime(df['예상도착시간'])
df['주문시간'] = pd.to_datetime(df['주문시간'])

min_order = df.groupby(['user'])['주문시간'].min()
max_order = df.groupby(['user'])['주문시간'].max()
time = (max_order - min_order).dt.days
drop0 = time[time>0]
meand= drop0.mean()
len(drop0[drop0>meand])

146

### Section26.

In [211]:
import pandas as pd
# df = pd.read_csv("delivery_time.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/delivery_time.csv")
df['실제도착시간'] = pd.to_datetime(df['실제도착시간'])
df['예상도착시간'] = pd.to_datetime(df['예상도착시간'])
df['주문시간'] = pd.to_datetime(df['주문시간'])

#df['주문시간연도'] = df['주문시간'].dt.year
#df['주문시간월'] = df['주문시간'].dt.month
##year = df['주문시간연도'].mode()[0]
#month = df['주문시간월'].mode()[0]
#print(year, month)
df['연월'] = df['주문시간'].dt.to_period('M')
year_month = df['연월'].mode()[0]
#해당 연-월에 '배고팡'앱 주문수
df = df[(df['연월']==year_month)]
a = len(df[df['앱종류']=='배고팡'])
#해당 연-월에 '배고팡'앱을 통한 주문 수앱을 통한 주문수 중 '앱결제' 주문 수
b = len(df[(df['앱종류']=='배고팡')&(df['결제종류']=='앱결제')])

round(b/a,2)

0.31

### Section27.

In [216]:
import pandas as pd
# df = pd.read_csv("delivery_time.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/delivery_time.csv")
df['실제도착시간'] = pd.to_datetime(df['실제도착시간'])
df['예상도착시간'] = pd.to_datetime(df['예상도착시간'])
df['주문시간'] = pd.to_datetime(df['주문시간'])
df = df[(df['주문시간'].dt.hour >=10 )& ( df['주문시간'].dt.hour<13)]
#속도 = 거리 /시간
df['배달시간'] = df['실제도착시간'] - df['주문시간']
df['배달시간'] = df['배달시간'].dt.total_seconds() / 60 / 60 #시간 단위
df['속도'] = df['거리'] / df['배달시간']
sum(df['속도']>=50)

1

### Section28.

In [225]:
import pandas as pd
# df = pd.read_csv("delivery_time.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/delivery_time.csv")
df['주문시간'] = pd.to_datetime(df['주문시간'])
df['연월'] = df['주문시간'].dt.to_period('M')

count_month = df.groupby('연월').size()
ym = count_month.idxmax()
str(ym).replace("-", "")

'202209'

### Section29.

In [228]:
import pandas as pd
# df = pd.read_csv("delivery_time.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/delivery_time.csv")

def delivery_fee(distance):
  if distance<5:
    return 2000
  elif distance<10:
    return 4000
  elif distance<15:
    return 6000
  elif distance<20:
    return 8000

df['배달료'] = df['거리'].apply(delivery_fee)
df['주문시간'] = pd.to_datetime(df['주문시간'])
df['주문월'] = df['주문시간'].dt.to_period('M')
df = df.groupby(['주문월'])['배달료'].sum(numeric_only=True)
df.max()

448000

### Section30.

In [230]:
import pandas as pd
# df = pd.read_csv("delivery_time.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/delivery_time.csv")
df['주문시간'] = pd.to_datetime(df['주문시간'])
df['dayofweek'] = df['주문시간'].dt.dayofweek #0월, 6일
df['주말'] = df['dayofweek'] >=5
weekend = sum(df['주말'])
weekday = sum(~df['주말'])

abs(weekend-weekday)

412

### Section31.

In [240]:
import pandas as pd
# df = pd.read_csv("delivery_time.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/delivery_time.csv")

df['user_num'] = df['user'].str[5:].astype(int)
df['user_num'].sum()

np.int64(261387)

### Section32.

In [246]:
import pandas as pd
# df = pd.read_csv("school_data.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/school_data.csv")

df['총합'] = df['수학'] + df['영어'] + df['국어']
top10 = df.sort_values('총합', ascending=False).iloc[:10]
round(top10['수학'].mean())

82

### Section33.

In [247]:
import pandas as pd
# df = pd.read_csv("school_data.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/school_data.csv")
df

      이름  수학   영어  국어 수학교사 영어교사 국어교사
0    강아지  66   61  26  김선생  장선생  최선생
1    고양이  92   48  80  김선생  장선생  이선생
2     토끼  98    7   6  김선생  장선생  최선생
3     사자  17   99  14  김선생  유선생  최선생
4    호랑이  83   92  75  박선생  장선생  이선생
5      곰  57   52  54  김선생  유선생  이선생
6    원숭이  86   97  71  김선생  장선생  이선생
7     기린  97   85   1  김선생  유선생  최선생
8    코끼리  96   94  43  김선생  유선생  이선생
9     판다  47   27  58  박선생  장선생  이선생
10    늑대  73   34  55  박선생  장선생  최선생
11    여우  32   97  25  박선생  유선생  이선생
12    펭귄  46   76  50  김선생  장선생  이선생
13  하이에나  96   40  84  김선생  장선생  최선생
14   코알라  25    3  56  박선생  장선생  이선생
15    강치  83   69  49  박선생  유선생  이선생
16   햄스터  78   64  12  김선생  장선생  최선생
17     뱀  36   75  18  김선생  장선생  이선생
18   독수리  96   34  81  박선생  장선생  이선생
19   침팬지  80   58   1  박선생  장선생  이선생
20    하마  68   10  51  박선생  유선생  이선생
21   두더지  49   22  44  김선생  유선생  최선생
22    물소  55   77  48  박선생  장선생  이선생
23   캥거루  67   18  56  김선생  장선생  최선생
24    참새   2  100  91  김선생  유선생  최선생
25    타조  84   15  49  박선생  유선생  이선생
26   개구리  39   27  86  박선생  장선생  이선생
27   펠리칸  66   30   3  김선생  유선생  이선생
28   돌고래  84   52  67  박선생  유선생  최선생
29     매  47   70  11  김선생  유선생  이선생

### Section34.

In [ ]:
import pandas as pd
# df = pd.read_csv("school_data.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/school_data.csv")
# df_science = pd.read_csv("school_data_science.csv")
df_science = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/school_data_science.csv")

9

### Section35.

In [ ]:
import pandas as pd
# df = pd.read_csv("school_data.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/school_data.csv")
# df_social = pd.read_csv("school_data_social.csv")
df_social = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/school_data_social.csv")

602

### Section36.

In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert_v2/refs/heads/main/part1/ch3/sales.csv")

103

### Section37.

In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert_v2/refs/heads/main/part1/ch3/store_sales.csv")

241975

### Section38.

In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert_v2/refs/heads/main/part1/ch3/region_sales.csv")

0.51

### Section39.

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert_v2/refs/heads/main/part1/ch3/monthly_sales.csv')

6